table, th, td {
    margin: auto;
    max-width: 100%;
    overflow: scroll;
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse; 
    height: 100%;
    overflow: auto;
    background: white;
}

td {
    padding: 0.1em 0.5em 0.1em 0.5em !important;
}

td:first-child {
    text-align: right;
    position: sticky;
    left: 0px;
    box-shadow: 0px 0px 0px 1px black;
}

td[rowspan] {
    background: #FFFF00;
}

.activity {
    font-weight: bold;
}

.location {
    font-style: italic;
    font-weight: lighter;
}
